 /* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: #fff;
}

/* Estilo da seção com imagem */
.card-produto {
  position: relative;
  width: 99%;
  max-width: 1200px;
  height: 100vh;
 margin: 50px auto;

  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.card-produto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Máscara preta semi-transparente */
.mascara {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Texto sobre a imagem */
.texto {
  position: absolute;
  top: 50%;
  left: 1%;
  text-align: left;
 /* transform: translate(-50%, -50%); */
  padding: 0;
  z-index: 1;
}

.texto h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.texto p {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 800px;
}

/* Responsividade */
@media (max-width: 768px) {
  .card-produto {
    height: auto;
    padding-bottom: 30px;
  }

  .texto {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    padding: 20px;
  }

  .texto h2 {
    font-size: 2rem;
  }

  .texto p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .texto h2 {
    font-size: 1.5rem;
  }

  .texto p {
    font-size: 0.95rem;
  }
}
