/* Configurações Globais */
@import url(./global.css);
/**{
   Resetando configuração padrão dos navegadores 
  margin:0;
  padding:0;
  box-sizing: border-box;
}*/

:root{
  
  /*Declarando as variaveis de fonte */
  --font-family:'Poppins' , sans-serif;
  --text:400 1rem/1.5 var(--font-family);
  --text-sm: 400 0.875rem/1.4 var(--font-family);

  /* Declarando as variaveis de cor */
  --text-primary: #292524;
  --text-secondary: #57534e;
  --text-tertiary: #8f8881;
  --text-hightlight: #e43a12;

  --surface-primary: #fff;
  --surface-secondary: #fee7d6;
  --surface-disabled: #e7e5e4;

  --stroke-default: #d6d3d1;
  --stroke-hightlight: #f3541c;
  --semantic-error: #dc2626;
}
   /* INICIO DA CONFIGURAÇÃO DO MENU */
header{
  position:fixed;
	background-color: #006400;  
	color: white;
}
   
header  .section-header{
     width: 100vw;
	   display: flex;
	   max-width: 1280px;
     margin: auto;
     align-items: end;
	   justify-content:space-between;
     padding-inline:3%;

}
.logo > img {
      transition: height 0.3s ease;
}
nav {
      display: flex;
      gap: 1.5rem;
      
}
nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  transition: color 0.3s;
  margin-bottom: 25px;
  padding: 5px;   


}
nav a:hover {
  color: #f8c42d;
}
nav a#item_coleta{
  background-color:#FFD700 ;
  color:#087008;
  border-radius: 10px;
} 
nav a#item_coleta:hover{
  color:#053b16;
  background-color:#edca02 ;
}
 /* INICIO DA CONFIGURAÇÃO DO MENU MOBILE */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}
.menu-toggle span {
  width: 25px;
  height: 3px;
  background: white;
  border-radius: 3px;
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 60%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.95);
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: start;
  padding-top: 35px;
  transition: left 0.8s ease;
  z-index: 1000;
}
.mobile-menu.active {
  left: 0;
}
.mobile-menu a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  margin: 1rem 0;
}
.close-btn {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

body {
  overflow: hidden;

  font: var(--text);
  color: var(--text-secondary);
}

h2 {
  color: var(--text-primary);
}

img {
  max-width: 100%;
  height: auto;
}

.flex{
  display: flex;
}

.flex-1 {
  flex: 1
}

.flex-2 {
  flex: 2
}

/* -------- Config Layout --------- */ 
#app {
  display:grid;
  grid-template-columns: 51.25% 48.75%;
  height: 100vh;
  overflow: hidden;
  padding-top: 110px;
}

main{
  overflow:auto;
  padding:1rem 3rem 3rem ;
  max-width: 1280px;
  
  /* Configurando a larg máxima do main container */
  & .main-container {
  max-width: 40rem;
  margin-left: auto;

    & h1{
      display: inline-block;
      font-family: "Roboto", sans-serif;
      font-weight: 800;
      font-size: 2.1rem;
      margin-bottom: 1rem;
      color: #006400;
      border-bottom:3px solid #f88511;
    }

  }

  & .back{
    display: flex;
    align-items:center;
    gap: .5rem;
    margin-block: 1.3rem;
  }

}


header>img {
  width: 9.25rem;
}

aside{
  background-color: #f9f8f8;
  padding: 1.5rem 1.5rem 1.5rem;
  max-width: 40rem;

  /* Configurando a larg máxima do main container */
  & .aside-container{
    width: 45vw;
    height: 60vh;
    max-width: 40rem;


    & > iframe {
      margin-top: 1rem;
      width: 100%; 
      height: 100%;
                  
    }
  }

  & h2 {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    margin-block:0;
    padding: 0;
    color: #006400;

    & span {
      color: var(--text-hightlight);
    }
  }
    & h3 {
    font: 600 1.8rem/1.25 var(--font-family);
    margin-block: .9rem;
  }

}

/* ------- Configuração do Formulário ------- */

form {
  margin-top: 3rem;
}

fieldset {
  border: none;

  display:grid;
  gap: 1.5rem;
}

legend {
  font: 600 1rem/1.25 var(--font-family);
  margin-bottom: 1.5rem;
}

fieldset + fieldset { /* aqui se lê um fildset e um fildset anterior a ele  */
  margin-top: 3rem;

}

/* Configurando os campos do Form */

input, textarea, select {
  appearance: none;
  width: 100%;
  border-radius: .5rem;
  border:2px solid transparent;
  outline: 1px solid var(--stroke-default);
  padding: .75rem 1rem;
  font: var(--text);
}
 
label {
  font: var(--text-secondary);
  display: block;
  margin-bottom: .25rem;
}

input:focus,
select:focus,
textarea:focus, 
input[type="date"]:focus-within {
  outline: .25rem solid var(--surface-secondary);
  border-color: var(--stroke-hightlight);
  outline-offset: .1px; /* para apacer a borda no Safari */
}

/* ------- Configurando os Radios --------- */
label +.radio-wrapper {
  margin-top: 1rem;
}

.radio-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr)); /* encaixe automático, especificado o min e max de larg. */
  gap: 1rem;
}

.radio-inner {
  border: 1px solid var(--stroke-default);
  border-radius: .5rem;

  display: grid;
  justify-content: center;
  gap: .5rem;
  padding: 2rem .5rem .5rem;
  position:relative;

  & input, 
  & input:focus, 
  & input:hover {
    all: unset; /* redefinir uma propriedade para o seu valor inicial */
    position:absolute;
    inset:0;
  }

  .radio-image {
    background-image: url(../icons/Icon-Circle.png);
    width: 1.5rem;
    height: 1.5rem;

    position:absolute;
    top:.5rem;
    left: .5rem;
  }

  &:hover, &:focus-within { /* focus-within representa um elemento que recebeu o foco ou contém um elemento que recebeu o foco */
    border: 1px solid var(--stroke-hightlight);

    & .radio-image {
      background-image: url(../icons/Icon-Circle._hover.png);
    }
  }

  &:has(:checked) {
    border: 2px solid var(--stroke-hightlight);

    & .radio-image {
      background-image: url(../icons/Icon-checkmark.png);
    }
  }
}

/* Configurando o Checkbox */
.terms-wrapper {
  margin-top: 3rem;
  display: flex;
  gap: .75rem;
  align-items: flex-start;

  & strong {
    font-weight: 500;
    color: var(--stroke-hightlight);

  }
}

.checkbox-wrapper {
  position: relative;

  & [type="checkbox"] {
    all: unset;
    position: absolute;
    inset: 0;
  }

  .checkbox-image{
    flex: 0 0 1.5rem;
    height: 1.5rem;
    background-image: url(../icons/Icon-checkbox.svg);
    background-position: center;
    background-size:cover;
 }

  &:hover, &:focus-within{
    .checkbox-image{
      background-image: url(../icons/Icon-checkbox_holver.svg);
      
    }
      
  }  

  &:has(:checked)  .checkbox-image {
      background-image: url(../icons/icon-checkbox_checked.svg);
    
  }
}

/* Configurando os botões */
button {
  all: unset;
  font-weight:  500;
  color: var(--stroke-hightlight);
  padding: .75rem 1.5rem;
  border-radius: .5rem;
  cursor: pointer;
  margin:0 auto;

  &.btn-primary {
    color: white;
    background-color: #E43A12;

    &:hover, &:focus {
      background-color: #F3541C;
    }
  }

  &.btn-secondary {
    margin-left: auto;
    border: 1px solid var(--text-hightlight);

    &:hover, &:focus {
      color: #E43A12;
      outline: .25rem solid var(--surface-secondary);
    }
  }

}

.actions-wrapper {
  margin-top: 3rem;
  display:flex ;
  gap: 1rem;
}

/* configurar outro icone de calendário */
input[type="date"] {
  position: relative;

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

  &::before {
    content: "";
    position: absolute;
    background: url(../icons/calendar_office_day_1474.ico) center/contain;
    right: 1rem;
    width: 1.25rem;
    height: 1.25rem;

    /* alinhando item qdo estão absolutos, no caso o icone de calendário */
    top:50%;
    transform:  translatey(-50%);
  }
}

select {
  background: url(../assets/icons/icon02\ -\ seta_baixo.svg) no-repeat calc(100% - 1rem);
}

.address .flex {
  gap: 1.25rem;
}

.input-wrapper:has([disabled]){ /* todo imput-wrpper que o camp está disabled faça */
  opacity: .5;
}

input{
  
  &[disabled]{
    background-color: var(--surface-disabled);
    border: 1px solid var(--stroke-default);
    color: var(--text-primary);
  }

  & + small { /* seleciona os elementos que vêm imediatamente após o elemento especificado. */
    font: var(--text-sm);
    color: #78716c;
    display: inline-block;
    margin-top: .25rem;
  }

  &[required] + .error{
    display:flex;
    align-items: center;
    gap:.5rem;
    font:var(--text-sm);
    color:var(--semantic-error);
    margin-top: .5rem;
  }

  &:not(:focus) + .error {
    display:none;
  }
  &:valid + .error{
    display:none;
  }
}

.error{
  & img{
    width: 30px;
    height: 30px;
 }
}
footer .footer-area_container{
    display: flex;
    flex-direction: column;
    height: 235px;
    background:  #f4f4f4;
    color: rgb(42, 41, 41);
    padding: 1.5rem 2rem;
    font-size: 0.9rem;
    border-top: 3px solid  #fec60d;
}
footer .footer-container_contato {
  display: flex;
  justify-content:space-between ;
}

footer .footer-navegacao{
  display: flex;
  flex-direction: column;
  text-align: left ;
} 
footer .footer-navegacao a{
color: rgb(43, 21, 6);
font-size: 1rem;
padding-block:2px;
font-weight: 600;
}
footer .footer-navegacao a:hover{
  color: rgb(174, 85, 26);
}

footer .socials {
  margin-bottom: 1rem;
}
footer address {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.7;
  color:#011601;
}
footer address a{
  color: #011601;
}
footer address a:hover{
  color:#00b300;
}
.footer-contato address i {
  margin-right: 10px;
  color: black;
  min-width: 18px;
}
footer h2{
  font-size: 1.5rem;
  font-weight: 700;
}

footer .copywrite{
  display: flex;
  justify-content: center;
  align-items: center ;
  background-color: #00b300;
  color: #eaebea;
  height: 55px;
  font-size: 1.15rem;
  font-weight: 700;
}
/* ========== RESPONSIVO: CELULAR ========== */
@media (max-width: 768px) {
    /* HEADER */
  header {
    display: flex;
    position:static;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  header nav {
    display: none;
  }

  .menu-toggle {
    display: flex;
  }

  #app {
    display: block;
    height: auto;
    overflow: auto;
    padding-top:10px ;
  }

  main, aside {
    padding: 1rem;
  }

  .aside-container {
    width: 90vw;
    display: block;
    text-align: center;
    min-width: 90vw;
    margin: 0 auto;
    text-align: center;
  }
  .aside-container h3 {
    font-size: 1.5rem;
    line-height: 1.2;
    white-space: normal; /* Permite quebra de linha */
    overflow: visible;
    text-overflow: initial;
  }

  .aside-container iframe {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60vh;
    border-radius: 12px;
    margin: 1rem auto 2rem auto;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
   }

  .main-container {
    max-width: 100%;
    margin: 0 auto;
  }

  .actions-wrapper {
    flex-direction: column;
    align-items: center;
    gap:1rem;
    margin-top: 2rem;
    margin-bottom: 2rem; /* Adiciona espaço após os botões */
  }

  .action-wrapper button {
    width: 80%;
    text-align: center;
  }

  .address .flex {
    flex-direction: column;
    gap: 1rem;
  }

  .flex, .flex-1, .flex-2 {
    flex: 1 1 100%;
  }
}

/* ========== RESPONSIVO: TABLET ========== */
@media (min-width: 769px) and (max-width: 920px) {
  #app {
    display: block;
    height: auto;
  }

  main, aside {
    padding: 2rem;
  }

  .aside-container {
    width: 100vw;
    min-width: 100vw;
    height: 100vh;
    min-height:90% ;
    margin: 35px auto;
  }

  .aside-container iframe {
    height: 100%;
    max-width: 92%;
    margin-bottom: 2rem;
    margin: 0 auto;
  }

  .main-container {
    max-width: 90%;
    margin: 0 auto;
  }

  .actions-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

  button {
    flex: 1 1 45%;
  }

  .address .flex {
    flex-direction: row;
    gap: 1rem;
  }

  .flex-1, .flex-2 {
    flex: 1;
  }
}

@media (width>=1280px){
  header{
    position:fixed;
    min-width: 100vw;
  }
  #app{
    max-width: 1280px;
    margin: 0 auto;
  }

}