    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Inter', sans-serif;
    }
    a{
      text-decoration: none;
      list-style: none;
    }
    html {
       scroll-behavior: smooth;
       overflow-x: hidden;
     }
     :target {
      scroll-margin-top: 8em;
    }

      body{
       overflow-x: hidden;

      }
      main {
       max-width: 1280px;
       margin: 0 auto;
 }
    h1 {
      font-family: "Roboto", sans-serif;
      font-weight: 800;
      font-size: 2.1rem;
      margin-bottom: 1rem;
      color: #006400;
    }
    h2 {
      font-family: "Roboto", sans-serif;
      font-size: 1.8rem;
      margin-bottom: 1rem;
      color: #006400;
    }

    h3 {
      font-size: 1.3rem;
      margin-bottom: 1rem;
      color: #006400;
    }
    p {
      margin-bottom: 1rem;
      font-size: 1.1rem;
      font-weight: 600;
      line-height: 1.6;
      color: #333;
      text-align: justify;
      /*text-indent: 10px;*/
    }

.whatsapp-button {
  position: fixed;
  bottom: 100px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 1 1 1 rgba(1, 1, 1, 0.6);
  animation: pulse 3s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  z-index: 1000;
}
.whatsapp-icon {
    width: 60px; /* Largura da imagem */
    height: 60px; /* Altura da imagem */
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(37, 211, 102, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0);
  }
}

/*botão WhatsApp */
.whatsapp-button:hover {
  transform: translateY(-9px);
  transition: transform 0.5s ease;
}

/* Botão voltar ao topo suave */

.topo{
  opacity:0;
  background-color: #006400;
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  z-index: 2;
  bottom: 10px;
  right:20px;
  border-radius: 50%;
  transition: opacity 0.5s ease-in-out;
}
.topo img{
  height:45px;
  width: 45px;
  filter: invert(1);

}
.btn-show .topo {
  opacity:1;
   pointer-events: auto;
}

/* CONFIGURAÇÃO DO MENU */
header{
	background-color: #006400;  
	color: white;
}
   
header  .section-header{
     width: 100vw;
	   display: flex;
	   max-width: 1280px;
     align-items: end;
	   justify-content:space-between;
     margin: auto;
     padding-inline:3%;
}
.nav-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo > img {
      transition: height 0.3s ease;
}
nav {
      display: flex;
      gap: 1.5rem;
      
}
nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  transition: color 0.3s;
  margin-bottom: 25px;
  padding: 5px;   


}
nav a:hover {
  color: #f8c42d;
}
nav a#item_coleta{
  background-color:#FFD700 ;
  color:#087008;
  border-radius: 10px;
} 
nav a#item_coleta:hover{
  color:#053b16;
  background-color:#edca02 ;
}
 /* INICIO DA CONFIGURAÇÃO DO MENU MOBILE */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}
.menu-toggle span {
  width: 25px;
  height: 3px;
  background: white;
  border-radius: 3px;
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 60%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.95);
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: start;
  padding-top: 35px;
  transition: left 0.8s ease;
  z-index: 1000;
}
.mobile-menu.active {
  left: 0;
}
.mobile-menu a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  margin: 1rem 0;
}
.close-btn {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

/* Configuração do Footer */
footer .footer-area_container{
  display: flex;
  flex-direction: column;
  height: 235px;
  background:  #f4f4f4;
  color: rgb(42, 41, 41);
  padding: 1.5rem 2rem;
  font-size: 0.9rem;
  border-top: 3px solid  #fec60d;
}
footer .footer-container_contato {
  display: flex;
  justify-content:space-between ;
}

footer .footer-navegacao{
  display: flex;
  flex-direction: column;
  text-align: left ;
} 
footer .footer-navegacao a{
color: rgb(43, 21, 6);
font-size: 1rem;
padding-block:2px;
font-weight: 600;
}
footer .footer-navegacao a:hover{
  color: rgb(174, 85, 26);
}

footer .socials {
  margin-bottom: 1rem;
}
footer address {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.7;
  color:#011601;
}
footer address a{
  color: #011601;
}
footer address a:hover{
  color:#00b300;
}
.footer-contato address i {
  margin-right: 10px;
  color: black;
  min-width: 18px;
}
footer h2{
  font-size: 1.5rem;
  font-weight: 700;
}

footer .copywrite{
  display: flex;
  justify-content: center;
  align-items: center ;
  background-color: #00b300;
  color: #eaebea;
  height: 55px;
  font-size: 1.15rem;
  font-weight: 700;
}


