    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Inter', sans-serif;
    }
    a{
      text-decoration: none;
      list-style: none;
    }
    html {
       scroll-behavior: smooth;
       overflow-x: hidden;
     }
     :target {
      scroll-margin-top: 8em;
    }

      body{
       overflow-x: hidden;

      }
      main {
       max-width: 1280px;
       margin: 0 auto;
 }
    h1 {
      font-family: "Roboto", sans-serif;
      font-weight: 800;
      font-size: 2.1rem;
      margin-bottom: 1rem;
      color: #006400;
    }
    h2 {
      font-family: "Roboto", sans-serif;
      font-size: 1.8rem;
      margin-bottom: 1rem;
      color: #006400;
    }

    h3 {
      font-size: 1.3rem;
      margin-bottom: 1rem;
      color: #006400;
    }
    p {
      margin-bottom: 1rem;
      font-size: 1.1rem;
      font-weight: 600;
      line-height: 1.6;
      color: #333;
      text-align: justify;
      /*text-indent: 10px;*/
    }

    .whatsapp-button {
  position: fixed;
  bottom: 100px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 1 1 1 rgba(1, 1, 1, 0.6);
  animation: pulse 3s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  z-index: 1000;
}
.whatsapp-icon {
    width: 60px; /* Largura da imagem */
    height: 60px; /* Altura da imagem */
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(37, 211, 102, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0);
  }
}

/*botão WhatsApp */
.whatsapp-button:hover {
  transform: translateY(-9px);
  transition: transform 0.5s ease;
}

/* Botão voltar ao topo suave */

.topo{
  opacity:0;
  background-color: #006400;
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  z-index: 2;
  bottom: 10px;
  right:20px;
  border-radius: 50%;
  transition: opacity 0.5s ease-in-out;
}
.topo img{
  height:45px;
  width: 45px;
  filter: invert(1);

}
.btn-show .topo {
  opacity:1;
   pointer-events: auto;
}


