/* Responsividade */
@charset "UTF-8";
@media screen and (max-width: 767px) {

/* HEADER */
  header {
    display: flex;
    padding: 10px;
  }

  .nav-container nav {
    display: none;
  }

  header .section-header{
    align-items: center;
    justify-content: space-between;
  }
  .menu-toggle {
    display: flex;
    margin-right: 10px;
    z-index: 1100;
  }

  .img-background{
    padding: 5% 5% ;
  }
  .img-background nav{
    margin-top: 50px;
  }
  .content-text h1 {
  font-size: 2.5rem;
  }
  .container-img img{
  width: 180px;
  }
  .content-reciclagem{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 45px 20px 5px 20px;

  }
  .content-recicla_text, .content-recicla_text02{
  max-width: 95vw;
  }
  .content-recicla_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  .content-recicla_img02, .content-recicla_img03{
  min-width: 99vw;
  }
  .content-recicla_container img{
  max-width: 100%;
  }

  .content-saibamais{
  flex-direction: column;
  align-items: center;
  }
  .content-saibamais h4 {
  font-size: 1.3rem;
  text-align: center;
  }

  .btn-saibamais {
      justify-content: center;

  }
  .topo{
    right: 5.5%;
    bottom: 6%;
  }
      
  .topo img{
    height:37px;
    width: 37px;
  }

  .container-content_coleta{
    flex-direction: column;
    align-items: center;
  }
  .container-img{
    width:97vw ;
    height: 50vh;
    justify-content: space-evenly;
  }
  .container-img img{
    width:40%;
  }
  .container-img #imagem{
    width:90%;
  }

  .whatsapp-icon {
  width: 46px; /* Largura da imagem */
  height: 46px; /* Altura da imagem */
  }
  .whatsapp-button {
    width: 42px;
    height: 42px;
    right:5.5%;
    bottom: 12.5%;
  }

  .content-one h1{
    font-size: 1.3rem;
  } 
  .content-one h2{
    font-size: 1.1rem;
  }
  .img-background{
    width:100%;
    height: 100%;
    align-items: flex-start;
  }

  .content-text{
    width: 100%;
    padding: 3% 0 ;
  }
  .content-text h2{
    font-size: 1.3rem;
    margin-left: 3px;
  }
  .content-text p{
    font-size:1.1rem ;
    margin-left: 3px;
  }
  .content-text a{
    margin-left: 5px;
  }
  #section-coleta h2{
    font-size: 2.2rem;
  }
  .content-img{
    margin-left: 0;
  }
  .content-img img{
    width: 120px;
  }
  footer{
    display:flex;
    flex-direction:column;
  }
  footer .footer-container_contato{
    width: 100vw;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:normal;
  }
  footer .footer-area_container{
    height:100%
  }

  .footer-navegacao{
    padding-block: 1.3rem;
  }


  footer .copywrite{
    font-size: .7rem;
  }

}

/* Configuração Tablet */
@media screen and (min-width: 768px) and (max-width: 885px){

  .content-text {
    min-width:55%;
  }
  .content-img{
    margin:0 auto;
  }
	
	.content-one h1{
		font-size: 2rem;
	}
	
	.content-one p{
		font-size: 1.3rem
	}
	.img-background{
	    padding:100px 0;
	    padding-inline: 25px;
      align-items:self-start;
	    }

  .content-reciclagem{
		display:flex;
		flex-direction: column;
		align-items:center;
		justify-content: center;
		margin: 45px 15px 5px 15px;

    & .content-recicla_container{
      flex-direction: column;
      min-width: 98vw;



      & .content-recicla_img, .content-recicla_img02, .content-recicla_img03 {
        min-width: 99vw;
        & img{
          min-width: 100%;
        }      

      }

      
    }
		
	}
  .container-img{
    height: 50vh;
    text-align:justify;
  }
  .content-saibamais{
    flex-direction: column;
    align-items: center;
    margin-top:40px;

    & h4{
      font-size:2rem ;
       margin-bottom: 18px;
    }
  }
}

   
@media screen and (width >=1280px){
  main{
    max-width: 1200px;
  }
}
    